html, body {
    height: 100%;
}

body {
  background-color:#333;
  font-family:"Lucida Sans", "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,sans-serif;
  font-size:small;
  font-weight:normal;
  line-height:1.4em;  
}

#heading, #bottom_content {
  margin-bottom: 1em;
}
#main_content {
    margin-bottom: 2em;
}

#login ul.horizontal {
    text-align:right;
    position:relative;
}
#login ul.horizontal li {
    margin:0;
}

#login ul.horizontal li ul {
    display:none;
    z-index:111;
    position:relative;
    margin:0;
}


#login ul.horizontal li ul li {
    display:block;
    text-align:left;
    border-bottom:1px solid #7d7d7d;
    padding:2px 4px;
}

#login ul.horizontal li ul li.last {
    border-bottom:none;
}

#login ul.horizontal li:hover ul {
    background-color:black;
    border:1px solid #7d7d7d;
    display:block;
    position:absolute;
    left:0;
    /*width:140px;*/
    top:100%;
}

/* -----------------------------------*/
/* ---------->>> GLOBAL ELEMENTS <<<--------*/
/* -----------------------------------*/

header {
  margin-bottom: 1em;
}

p {
    margin:10px 0;
}
a {
 color:#c88638; 
}

a.underline:hover {
    text-decoration:underline;
}

ul {
  list-style: none;
}

ul li p {
margin:0 !important;
}

a#clickme {
    color:#333;
    background: transparent url(../img/close.png) top right no-repeat;
    position:absolute;
    text-indent:-9999px;
    width:24px;
    height:24px;
    top:-6px;
    right:-10px;
}
a#clickme:hover {
    background: transparent url(../img/close_hover.png) top right no-repeat;
}

img[title] {
    word-wrap:break-word;
    font-size:80%;
    color:#7d7d7d;

}
.sub_italics {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    font-style:italic;
    color:#7d7d7d;
}

.hideme {
  display:none;
}

ul.horizontal li{
  display:inline;
}

ul.arrow li {
    list-style: disc inside;
}

div.flatpage ul.arrow li,
div.wiki_content ul.arrow li {
    list-style:none;
}





ul.arrow li p {
    margin:0;
}
.left {
  float:left;
}

.right {
  float:right;
}

.tinyprint {
  font-size:80%;
  color:#7d7d7d;
  
}
p.tinyprint, p.smaller {
    margin:0 !important;
}

.project {
  color:#333;
}

.dataset {
  color:#006699;
}
.bold {
  font-weight:bold;
}

a.edit {
    font-size:12px;
    color:#7d7d7d;
    font-weight:normal;
    }
  a.edit:hover {
    text-decoration:underline;
  }

td.edit {
    max-width: 40px;
}

.smaller {
    font-size:92%;
    }

.neg_margintop10 {
    margin-top:-10px;
}
.margin_bottom10 {
  margin-bottom:10px;
}

.margin_bottom20 {
  margin-bottom:20px;
}

ul.horizontal li {
    margin-right:5px;
    }
ul.horizontal li a {
    padding:4px 10px;
    }

a.more {
  color:#7d7d7d;
  /*background:url('../img/more_arrow.png') no-repeat 100% 0;*/
  height:14px;
  padding-right:18px;
    cursor:pointer;
    margin:5px 0;
    display:block;
    margin-bottom:0px;
    font-size:12px;
}
  a.more:hover {
  color:#9c9b9b;  
}

div.doneedit {
  margin:auto;
    clear:both;
    overflow:hidden; 
}

span.filter_title,
a.filter_title {
    color:#7d7d7d;
}
a.button {
  padding:2px 15px;
  text-align:center;
  float:right;
  cursor:pointer;
  margin:10px 0 10px 0;
    color:#252525;
}

a.doneedit:hover, a.button:hover, input.privacy:hover {
    background-color:#f8f8f8;
    text-decoration:none;
}

a.privacy {
  font-weight:normal;
}


/* -----------------------------------*/
/* ---------->>> STRUCTURE <<<--------*/
/* -----------------------------------*/
/* TODO many of these are no longer used */
#outer_container {
  background-color:transparent;
  margin-bottom:-10px;
    min-height:900px;
    height:auto !important;
    height:900px;
  /*overflow:hidden;*/
}

#inner_container {
  background-color:#fafafa;
  position:relative;
  min-height:900px;
  height:auto !important;
  height:900px;
  margin-top:0px;
  padding-bottom:190px;/* to compensate for absolutely positioned footer. Needs to equal footer's height + its top margin */
  
}
  
#content_wrapper {
  padding:10px 15px 10px 15px;
  min-height:600px;
  height:auto !important;
  height:600px;
  overflow:hidden; 
  clear:both;
  margin:0 auto;
  background-color:white;
}
#content {
  padding-right:220px;
  width:auto;
  float:left;
  .float:none;
  background-color:white;

}

  #content .column {
    float:left;
    position:relative;
  }

.heading {
  margin-top:5px;
  margin-bottom:15px;
}

.heading p {
    margin:0;
}

#left_column {
    margin-bottom: 1em;
}
#main_column {
    margin-bottom: 2em;
}
  #main_column p {
    color:#7d7d7d;
  }
#right_column {
}

  #right_column .rc_innerwrapper {
    padding:10px;
    overflow:hidden;
    border:1px solid #dedede;
  }

  #right_column .bucket {
    margin-bottom: 1em;
  }

    .bucket h2 {
        font-size: 16px;
    }
    

/*------- BUCKET SECTION, bucket or otherwise----------*/
div.bucket ul li {
  padding:0;
}
div.help {
    background-color:#FBCA54;
    padding:10px;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}   
    div.help h1,
    div.help p {
        margin:0 0 0 10px !important;
        line-height:normal;
    }
    div.help h1 {
      font-size:20px;
    }
    div.help p {
      color:white;
    }

  a.help_tip {
    color:white;
    font-weight:bold;
    padding:0 3px;
    background-color:white;
    background-color:#99BA6A;
    cursor:help;
  }
  
  a.help_tip:hover {
    color:#99BA6A;
    background-color:white;
  }
    

/*-------------------------------------*/ 
#right_column .filter {
    border-top:1px solid #dedede;
  }
#irght_column .rc_innerwrapper.filter {
  border-left:1px solid #dedede !important;
}
.sub_filter {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
}
.sub_filter h3 {
    font-weight:normal;
    color:#7d7d7d;
}  
.sub_filter ul, .sub_filter form {
    margin-bottom: 0;
}
.sub_filter ul li {
        padding:2px 0;
    }
    .sub_filter ul li.tag {
      margin:2px 0;
    }

    .sub_filter li:hover,
    .sub_filter li.active {
        background-color:white;
    }

    .sub_filter li.tag:hover,
    .sub_filter li.tag.active {
        background-color:transparent;
    }
    .sub_filter li.active a{
        font-weight:bold;
    }

.sub_filter ul.rt_list li:hover,
.sub_filter ul.rt_list li.active {
    background-color:transparent;
}

.sub_filter ul.rt_list li a{
    display:inline;
    width:auto;
}

.pad4 {
    padding: 4px;
}

#section-container-open {
    border-bottom: 1px solid #CCC;
}

#footer {
    background-color: #333;
    color:#f8f8f8;
}

#footer_body {
    margin:auto;
    padding:10px;
    }
    
    #footer ul {
        margin-bottom:2px;
    }
    
    #footer ul.no_border {
        border:none;
        }

    #footer ul li a {
        font-family:sans-serif;
        font-size:90%;
        color:#acacac;
    }
    #footer ul li a:hover {
        color:white;
    }
    #footer ul li {
        color:#3e3e3e;
        font-weight:normal;
        display:inline;
        text-shadow:1px 1px 1px black;
    }


    #footer ul.official {
        padding-right:0;
    }
    
    #footer ul.official li {
        color:#7d7d7d;
    }   

.wrapper {
    min-height:100%;
    height: auto !important;
    height:100%;
    margin:0 auto -120px;
}

#footer, .push {
    height: 120px;
}

/* -----------------------------------*/
/* ---------->>> LISTING <<<--------*/
/* -----------------------------------*/

.inline-list {
    margin-top:8px;
}

.list_sort_option {
    margin-top: 5px;
}
.list_sort_option div {
    margin: -30px 0 0 18px;
}

.list_img {
  float:left;
  margin-right:10px;
  width:80px;
  height:80px;
  overflow:hidden;
  position:relative;
}
  .list_img img {
    text-align:center;
    width:80px;
    position:relative;
  }

ul.edit .list_img {
  width:50px;
  height:50px;
}

  ul.edit .list_img img {
    width:50px;
  }

  ul.edit .list_toolwrapper {
      min-height: 50px; /* match height of .list_img img */
  }
  h2 .list_toolwrapper {
      min-height: 1em;
  }

.hanging_list_contentwrapper {
  margin-left:90px;
}

/*
.list_content {
  float:left;
}
*/

.list_content p {
    margin:0;
}
    ul.project_list li a.title{
        color:#557692;
        line-height:16px;
    }
    
    ul.project_list li a.title:hover {
        color:#8CA9C2;
    }
    
    ul.resource_list li a.title {
        color:#3093c7;
    }
    
    ul.resource_list li a.title:hover {
        color:#91BAD3;
    }
/* list_content_short is specific to listing results contained within the middle column of a 3 col layout. */
ul.short div.list_content {
}
ul.short li {
  padding:5px 5px;
}

.list_results ul {
    margin-bottom: 0;
}
.list_results li {
  border-bottom:1px solid #ebebeb;
  margin:2px 0 2px 0px;
  overflow:hidden;
  padding:10px 5px;
  clear:both;
}

  .list_results li.last {
     border:none;
     margin-bottom:0;
  }
  .list_results p.description {
    clear:right;
  }
.list_toolwrapper {
  float:right;
  text-align:right;
  min-height: 80px; /* match height of list_img img */
}
  .list_toolwrapper ul, .list_toolwrapper li {
    float: right;
    margin:0;
    padding:0 !important;
    border-bottom:none;
  }
  
.list_results {
  position:relative;
  overflow:hidden;
}

.list_results p {
    margin:0 !important;
}
.list_results p.sub_italics {
    line-height:1.3em;
    margin-bottom:4px;
    clear:right;
    padding-bottom:8px;
}
.quick_view {
  font-weight:normal;
  font-size:90%;
  margin-left:5px;
}
/* -----------------------------------*/
/* ---------->>> 3column <<<--------*/
/* -----------------------------------*/
/*
#lc {
  position:absolute;
  width:150px;
  top:0px;
  left:0px;

  padding:5px;
}

#rc {
  position:relative;
  float:left;
  width:555px;
  margin-left:160px;
}

#rc img {
  max-width:450px;
}
*/
.greyouterborder {
  border:1px solid #ebebeb;
  background-color:white; 
  margin-bottom:0px;
  margin-bottom:30px;

}

.innerborder {
    
    margin:3px;
    padding:10px;
    background-color:white;
    position:relative;

}


/* -----------------------------------*/
/* ---------->>> typography <<<--------*/
/* -----------------------------------*/
a.author:hover {
  text-decoration: underline;
}
.author {
  color:#252525;
    font-weight:bold;
    margin-right: .25em;
}

.add_a_c {
  padding-left:10px;
  color:#252625;
  margin-bottom:10px;
}
/* -----------------------------------*/
/* ---------->>> sub_structure <<<--------*/
/* -----------------------------------*/


.intro {
  padding:10px 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft:15px;   
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  background-color:#f8f8f8;
  margin-bottom:20px;
  margin-top:-15px;
    overflow:hidden;
    
}
  .intro h1 {
    color:#7d7d7d;
    font-size:16px;
    line-height:1.4em;
        margin:0;
        
  }


#content ul.sort {
  background-color:#ebebeb;
  padding:3px 10px;
  border-bottom:1px solid #b7b7b7;
  overflow:hidden;
  margin:0;
}

  #content ul.sort li {
    color:#7d7d7d;
    font-size:85%;  
  }

  ul.sort li a {
    padding:0;
  }
  ul.sort li input {
    position:relative;
    top:3px;
  }
  ul.sort li label {
    color:#333333;
  }
  ul.sort li p {
    position:relative;
    top:4px;
        .top:7px;
    margin:0 !important;
  }
    
ul.f_left li {
  float:left;
}
ul.side_nav {
 margin: 0;
 border-right:0;
}
ul.side_nav li {
  background-color:#f8f8f8;
  overflow:hidden;
  padding-right:0px;
  text-align:right;
  margin-bottom:5px; 
}

  ul.side_nav li a {
    padding:5px 5px 2px 5px;
    display:block;
    color:#333;
    border-bottom:4px solid #f4f4f4;
  }
  ul.side_nav a:hover, 
    ul.side_nav li.active a,
    ul.side_nav li:hover a {
    border-bottom:4px solid #006699;
    background-color:#006699;
    color:white;   
  }

  /* when hovering or active, change tab background */
   ul.side_nav li:hover,
   ul.side_nav li:hover a{
     background-color:#666;
     color:white;
   }

ul.edit_nav {}
    ul.edit_nav li {
        background-color:#f8f8f8;        
        }
    ul.edit_nav li a{
        color:#ccc;
        }
    ul.edit_nav li.active a, ul.edit_nav li:hover a {
      color:#7d7d7d !important;
      border-bottom:4px solid #7d7d7d;
      background-color:#f8f8f8;
    }
    ul.edit_nav li:hover {
      background-color:#f8f8f8;
    }
    ul.edit_nav li:hover a {
      color:white;
    }
ul.done_edit {
  overflow:hidden;
}
  ul.done_edit li a{
    color:white;
    background-color:#7d7d7d;
    float:right;
    text-align:center;
    padding:4px 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  
  ul.done_edit li a:hover {
    background-color:#ccc;
  }

ul.edit_nav li.inactive {
  background-color:#f8f8f8;
  padding:5px 5px 2px;
  color:#ccc;
}
.sub_info {
  margin:10px 0px;
  line-height:1.2em;
  text-align:right;
}

ul.bottombordernav {
  border-bottom:4px solid #DDE6EF;
  padding-bottom:2px;
  margin:5px 0 0px 0;
  }

  ul.bottombordernav li {
    margin-right:5px;
  }
  
  ul.bottombordernav li a {
    padding:4px 30px 4px 10px;    
    border:1px solid #ebebeb;
    color:#333;
    -moz-border-radius-topleft:2px;
    -moz-border-radius-topright:2px;
    -webkit-border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;

  }
  
  
  ul.bottombordernav li.active a,
  ul.bottombordernav li:hover a,
  ul.bottombordernav li a:hover{
    background-color:#DDE6EF;
    border-color:#DDE6EF;
    position:relative;  
  }
  
  ul.bottombordernav li a.tab,
  ul.bottombordernav li:hover a.tab{
    font-size:14px;
    padding-bottom:8px;
    border:1px solid #ccc;
    border-bottom:1px solid #fff;
  }

ul.resource {
    margin-top:5px;
    }
    ul.resource li {
        margin-right:5px;
        }
        
    ul.resource li a {
        background-color:#DDE6EF;
        color:#005E82;  
        font-size:80%;
        font-weight:bold;
        -moz-border-radius-topleft:5px;
        -moz-border-radius-topright:5px;
        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        padding:4px 10px;
        }

    ul.resource li:hover a, ul.resource li a:hover, ul.resource li.active a {
        background-color:#f0f6f9;
        color:#a01c42;
        }

/* "message" is when you want to inform users that the actions they have taken are successful or not --- maybe combined with form.css */
div.message {
  margin: 5px 0 10px 0;
  padding: 10px 40px 10px 15px;         
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  position:relative;
  background-color:#FFF9D7;
  font-weight:bold;
  color:#7d7d7d;
  overflow:hidden;
}

  div.message h1 {
    margin-bottom:10px;
    font-size:16px;
    color:#626262;
  }

    div.message a#clickme {
    top:7px;
    right:5px;
    }


.column div.message {
    padding:10px;
    font-size:11px;
    line-height:16px;
    color:#333333;
    font-weight:normal;
    font-family:verdana, sans-serif;
  }

div.not_errors {
  background-color:#f0f6f9;
    color:#7495B1;
}

div.errors {
    background-color: #fce7e7;
    color:#c00;
   }

em.errors {
  color:#c00;
}
/* ---------------------------------------------------------------------------------------------------- */

/* PROFILE images and info */

.c4_profile_img {
    width: 100%;
    border: 1px solid lightgrey;
}

div.profile_img {
  margin-bottom: 1em;
}

/*
 * TODO delete

    div.profile_img a.edit {
      display:none;
      position:absolute;
      bottom:0;
      left:0;
      background-color:white;
      padding:2px 5px;
      border:1px solid #dedede;
    }
    
    div.profile_img:hover a.edit {
      display:block;
    }


div.profile_detail {
  clear:both;
    line-height:1.6em;
}
  div.profile_detail dl {
    margin:10px 0;
    overflow:hidden;
  }
  div.profile_detail dd p:first-child {
    margin-top:0;
  }
  div.profile_detail h2 {
      font-weight:bold;
      color:#707070;
      margin:30px 0 10px 0;
  }
  */


dt {
  font-weight:bold;
}

dl.table-display {
  font-size: 13px;
  float: left;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid #ebebeb;
}

  .table-display dt {
    clear: left;
    float: left;
    width: 50%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ebebeb;
    font-weight: bold;
  }

  .table-display dd {
    float: left;
    width: 50%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ebebeb;
  }


/*____________________________________________________________________________*/
#right_column p {
    margin:0;
}

#right_column .p_margin p {
    margin:10px 0;
}

#right_column .bucket .first {
  margin-top:-10px;
}

  
ul.project {}
  ul.project li{
    border-bottom:1px solid #ebebeb;
    padding-bottom:3px;
    margin-bottom:5px;    
  }

  ul.project li.last {
    border-bottom:none;
  }

div.dl_all {
    position:relative;
    margin-bottom:5px;
}
    div.dl_all a span.strong{
        display:block;
        font-size:14px;
        margin-top:-2px;
        color:#252525;
        margin-bottom:-3px;
    }
    
    a.dl_all {
        -moz-border-radius:5px;        
        -webkit-border-radius:5px;
        background:url('../img/icn_dl.png') no-repeat 5px 2px; 
      color:#7d7d7d;
      font-weight:bold;   
      height:37px;
      padding-top:7px;
      padding-left:55px;
      margin-left:-10px;    
        display:block;
        background-color:white;
      margin-top:5px;
        font-size:12px;       
    }
    
  a.dl_all:hover span.strong {
    color:#7d7d7d;
        
  }
    
    a.dl_all:hover {
        background-color:#f4f4f4;
    }
    
ul.file_list li a {
  color:#3A7EA2;
  font-weight:bold;
}

  ul.file_list li a:hover {
    color:#3093c7;
  }

input.delete_button {
  border:2px solid #CC0000;
  padding:10px 15px;
  -moz-border-radius:5px;
    
  -webkit-border-radius:5px;
  cursor:pointer;
  background-color:#f4f4f4;
  font-family:"Lucida Sans", "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,sans-serif;
}

  input.delete_button:hover {
    border-color:#f26d7d;
    color:#7d7d7d;
  }

  /*
   * TODO delete
div.edit {
    overflow:hidden;
}
*/
    div.edit a.edit {
        margin-left:15px;
        font-size:12px;
        font-weight:normal;
     }
     
div.edit a.add,
a.add {
    color:#7d7d7d;
    font-weight:bold;
    border:2px solid #ccc;
    padding:0 10px;
    background-color:#f8f8f8;
    margin-top:2px;
    margin-bottom:2px;
}

div.edit a.add:hover,
a.add:hover {
    color:#46A8DC;
    text-decoration:none;
}
 
   
div.innerborder div.edit {
    margin-top:-5px;
    margin-bottom:5px;
}

div.innerborder ul.bottombordernav + div.edit {
    margin-top:0px;
}

div.num_blocks {
    overflow:hidden;
    margin-top:10px;
    margin-bottom:10px;

}
div.sub_filter a.num_block_small{
    margin-bottom:5px;
}
a.num_block {    
    background-color:#7d7d7d;
    color:white;
    padding:5px 10px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display:block;
    text-align:center;
    width:80px;
    font-size:12px;
    float:left;
    margin-right:7px;
    margin-bottom: 7px;
    opacity:1;
    cursor:pointer;
    
    
}
    a.num_block:hover {
        color: white;
        opacity:0.8;
    }
    a.num_block span.number {
        display:block;
        font-size:25px;
    }

    a.num_dataset {
        background-color:#f6b803;
    }
    
    a.num_algorithm {
        background-color:#A01C43;
    }
    
    a.num_publication {
        background-color:#AAD450;
    }
    a.num_other {
        background-color:#6ab6e1;
    }
    a.num_block_small {
        height:auto;
        padding:3px 10px;
        display:inline;
        width:auto;
        margin-bottom:5px;    
        line-height:14px;           
    }
    
div.dl_all_container {
    margin-left:160px; 
    padding:10px;
    /*width:210px;*/
    background-color:white;
    padding-top:0px;
}
    div.dl_all_container a.dl_all {
        margin-left:0;
        background-color:#fab24a;
        height:40px;
        padding-top:10px;
        color:white;
    }
    div.dl_all_container a.dl_all:hover span.strong{
       text-decoration:underline; 
    }
    
    div.dl_all_container a.dl_all span.strong {
        color:#c13a00;
        font-weight:bold;
    }

.lock_big {
    height:24px;
    vertical-align:middle;
    display:inline-block;
    width:24px;
    position:relative;
    background:transparent url(../img/c3_sprite.png) -152px -145px;
}

.breadcrumb {
    min-height:30px;
    height:auto !important;
    height:30px;
    background: white;

    /* for drop down */
    /* float:left; */
    width:100%;
    /*-------------*/
    font-size:13px;
    font-family:Arial, sans-serif;
    font-weight:bold;
    border-bottom:1px solid #7d7d7d;
}

    .breadcrumb .breadcrumb_content {
        padding:5px 20px;
        font-size:12px;
        margin:0 auto;
    }
    .breadcrumb a {
        color:#7d7d7d;
    }
    
    .breadcrumb a:hover {
        color:#464646;
    }



.addthis_button {
    position:relative;
    top:4px;        
}

h2.form_invite { 
  padding:10px;
  background-color:#f4f4f4;
  border:1px solid #ebebeb;
  color:#7d7d7d;

}

ul.pagination-flickr {
    border:0; margin:1em 0; padding:0;
    border:1px solid #f4f4f4;
    overflow:hidden;
    clear:both;
    }

.pagination-flickr li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
float:left;
}
.pagination-flickr a{
border:solid 1px #DDDDDD;
margin-right:2px;
}
.pagination-flickr .previous-off,
.pagination-flickr .next-off {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
.pagination-flickr .next a,
.pagination-flickr .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
.pagination-flickr .active{
color:#fff;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
background-color:#7d7d7d;
margin-right:2px;
}
.pagination-flickr a:link,
.pagination-flickr a:visited {
color:#3093C7;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
.pagination-flickr a:hover{
border:solid 1px #666666;
}

a.email {
    background:url('../img/c3_sprite.png') no-repeat -182px -53px !important;
    text-indent:-9999px;
    overflow:hidden;
    display:block;
    height:27px;
    width:25px;
    position:relative;
    top:5px;
}

.list_toolwrapper a.email {
    background:url('../img/c3_sprite.png') no-repeat -182px -53px !important;
    float:right;
    top:3px;
    
}

div.request_access {
    display:none; 
    background-color:#252525; 
    color:white; 
    font-weight:bold; 
    padding:20px;
    /*width:400px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:8px solid #ebebeb;
    float:left;
}

div.request_access p{
    color:#7d7d7d;
    margin-top:0px;
    margin-bottom:10px;   
}

/* Auto Complete CSS */
.ac_results{
    font-size: 12px;
    font-family: arial;
    padding: 0px;
    display: none;
    /*width:200px;*/
}
.ac_results ul {
    border:1px solid #ebebeb;
    margin-left:-4px;
    margin-top:-3px;
}
.ac_results ul li {
    background-color:white;
    color:#7d7d7d;
    border-bottom:1px solid #f4f4f4;
    padding-left:5px;
}

.ac_results ul li:hover {
    background-color:#038ABE;
    color:#ebebeb;
    cursor:default;
}

 .leader {
      color:#c88638;
  }

  a.leader:hover {
      text-decoration:underline;
  }
  .stats {
      color:#a4aaac;
  }
  a.stats:hover {
      color:#038ABE;
  }


div.highlight {
    margin-bottom:10px;
    padding:10px;
}
  div.highlight div.margin_bottom10{
      overflow:hidden;
  }
  div.highlight ul.leadership {
      clear:both;
      margin-bottom:5px;
      overflow:hidden;
  }
  div.highlight p {
      float:left;
      clear:left;
      width:100%;
  }
  
a.delete {
    background:url('../img/c3_sprite.png') no-repeat -224px -89px !important;
    padding-right:20px;
    display:inline-block;
    height:18px;
    text-indent:-9999px;
}

a.edit_ic {
    background:url('../img/c3_sprite.png') no-repeat -84px -151px !important;
    padding-right:20px;
    display:inline-block;
    height:18px;
    text-indent:-9999px;
}

a.join_btn, a.join_link {
    background-color:#97D243;
    color:white;
    font-weight:bold;
    font-size:13px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display:block;
    padding:5px 10px;
}

  a.join_btn:hover {
      text-decoration:underline;
  }

a.join_link {
  padding:1px 5px;
  color:white;
  font-size:10px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  display:inline;
  line-height:1.2em;
  clear:both;
}
  a.join_link:hover {
      text-decoration:underline;
  }

div.flatpage {
  line-height:1.7em;
}
   div.flatpage p {
       margin:10px 0;

   }

      div.flatpage dl dt {
       font-size:110%;
       color:#80C221;
   }
     div.flatpage dl dd {
       font-size:100%;
       margin-bottom:10px;
     }

  
input#preview {
    border:none;
    background-color:transparent;
    color:#7d7d7d;
    font-size:11px;
    display:inline;
    cursor:pointer;
    margin:0;
    padding:0;
    position:relative;
    top:-2px;
}

input#preview:hover {
    text-decoration:underline;
    color:#959595;
}




code, pre {
    font-family:Consolas,Monaco,"Courier New",Courier,monospace;
    background-color:#f0f0f0;
    white-space:pre-wrap !important;
    color:black;
    padding:0 3px;

}
pre {
    padding:11px;
    overflow:auto;
    font-weight:normal;
    line-height:1.3em;
    overflow-Y: hidden;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px dashed #a5a4a4; 
    margin:5px 0;   
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */ /*
    width: 99%; */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

div.flatpage a:hover {
    text-decoration:underline;
}



div.profile_detail li,
div.flatpage li {
    list-style:disc;
    list-style-position:inside;
}


div.profile_detail ul,
div.flatpage ul {
        margin:5px 0 5px 0;
}

div.flatpage img {
    display:block;
    max-width:700px;
    margin:5px auto;
}

div.profile_detail img {
    display:block;
    max-width:450px;
    margin:5px auto;
}

div.faq a {
  color:#333;
}
div.faq h2 {
  border-bottom:1px solid #ebebeb;
  margin:25px 0 5px 0;
}
/*----------------SEARCH RESULTS ---------------------------*/
#google p.g {
    margin-bottom:0;
    margin-top:15px;
}

#google p.g a {
    font-weight:bold;
    font-size:110%;
}

#google .s {
    width:100%;
}

#google td[align="right"],
tr[valign="top"] td{
    text-align:right;
}

#google td[align="left"] td{
    text-align:left;
}
#google td[align="left"] table{
    width:auto;
    }

span.s a, span.b a, #google .n a{
    color:#038ABE;
}


#google .n .i {
    font-weight:bold;
}
#google div.n {
    border:1px solid #ebebeb;
        border-left:0;
    border-right:0;
    padding:2px 0;
    margin-top:30px;

}
#google div.n table {
    width:auto;
}
#google div.n td[valign="bottom"] {
    padding-right:30px;
}

div.add_label {
    text-align:right;
}
  div.add_label a.add_label {
      font-weight:bold;
      display:block;
      position:relative;
      font-size:12px;
  }
  div.form_add_label_container{
      position:absolute; 
      right:0px; 
      /*width:220px; */
      border:1px solid #ebebeb;
      background-color:#F6F4F2;
      padding:10px;
      font-size:11px;
      overflow:hidden;

  }
  div.form_add_label_container .button {
      background-color:transparent;
      color:#0c81c4;
      border:none;
      cursor:pointer;
      font-size:12px;
  }
  
  div.form_add_label_container .button:hover {
      color:#56bbf4;
  }
  
  
  div.form_add_label_container ul li:hover{
    cursor:pointer;
    /*float:left;*/
    width:100%;
    background-color:#f0f7ff;
  }
  
  div.form_add_label_container div.pl {
    overflow-y:auto;
    max-height:300px;
    padding-bottom:10px;
    border-bottom:1px solid #7d7d7d;
    overflow-x:hidden;
    position:relative;
  }
  div.form_add_label_container label{
      text-align:left;
      position:relative;
      /*float:left;*/
      /*width:200px !important;*/

  }
    div.form_add_label_container input{
        top:3px;
        position:relative;
        margin-left:0;
  }
  div.form_add_label_container ul.form li {
      clear:left;
      margin-bottom:5px;
      float:left;
      
  }

div.project_label {
    font-size:11px; 
    margin-top:20px;
} 
  div.project_label p {
    margin:0 !important;
  }
  div.project_label a{
      color:#959595;
  }
  div.project_label a:hover {
      color:#97D243;
  }

ul.side_nav li.editor_only a,
ul.side_nav li.editor_only {
    background-color:#f4f4f4;
    color:#ccc;
}

ul.side_nav li.editor_only:hover,
ul.side_nav li.editor_only a:hover {
    background-color:white;
}

div.with_border {
    margin-top:10px;
    border-top:1px dotted #7d7d7d;
    padding-top:10px;
}

div.subscription_message {
    background-color:#F4F4E4;
    color:#333;
    padding:10px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    overflow:hidden;
}
  div.subscription_message input {
      color:#333;
  }
  div.subscription_message p {
      margin:2px 0;
  }
  div.subscription_message form p {
      font-weight:bold;
      margin-bottom:0;
  }
  div.subscription_message form input {
      margin-left:0;
      margin-right: .5em;
  }

  div.subscription_message form p.bold {
      font-size:14px;
  }
div.tools {
    margin:40px 0 0;
    clear:both;
    background-color:#F4F4E4;
    padding:5px 0;
    border:1px solid #ccc;
    overflow:hidden;
}

ul.tools {
    display:inline;
    margin:0 0 0 15px !important;
    float:left;
}
ul.tools li {
    margin-right:20px;
    font-family:"Lucida Sans", sans-serif;
    font-size:11px;
    display:block;
    float:left;
}
  ul.tools li a:hover {
      text-decoration:underline;
  }
a.stbar img{
    position:relative;
}

ul.tools li a {
    color:#7d7d7d;
}

ul.tools li img.chicklet,
a.stbar.chicklet img {
    border:0;
    height:16px;
    width:16px;
    margin-right:3px;
    vertical-align:middle;
   }
a.stbar.chicklet {height:16px;line-height:16px;}
a.subscribe {
    background: transparent url('../img/subscribe_org.png') left 2px no-repeat;
    padding-left:21px;
    display:block;
}

div.oops {
    margin:auto;
    text-align:center;
    margin-top:40px;
    position:relative;
}
  div.oops h1 {
      font-size:28px;
      color:#3093C7;
  }

ul.dotted {
    margin-top:5px;
}
  ul.dotted li {
      border-bottom:1px dotted #ebebeb;
      padding:5px 0 !important;
  }
  ul.dotted li.last {
      border-bottom:none;
  }
  ul.dotted li.active a{
    font-weight:bold;
    text-decoration:none;
    color:#333;
  }   
 

.rc_innerwrapper ul {
    margin-bottom: 0;
}
ul.short_list li {
    margin-bottom:5px;
    overflow:hidden;
}

  ul.short_list li img {
      width:50px;
      float:left;
      display:block;
  }

  ul.short_list div.info {
      font-size:12px;
      margin-left:65px;
      .overflow:hidden;
  }

  ul.short_list div.info p {
      margin:0;
      font-size:10px;
  }

.openid_buttons {
    overflow:hidden;
}
  .openid_buttons a {
      width:56px;
      height:56px;
      float:left;
      margin:3px 2px;
      display:block;
      text-indent:-9999px;
  }
.openid_sm_buttons {
    overflow:hidden;
    clear:both;
    margin-bottom:20px;
}
  .openid_sm_buttons a {
      width:30px;
      height:30px;
      float:left;
      text-indent:-9999px;
      margin:0 3px;
  }

a#openid_lg_google {
    background: url('../img/open_id_sprite.png') no-repeat 0 0;
}

a#openid_lg_yahoo {
    background: url('../img/open_id_sprite.png') no-repeat -56px 0px;
}

a#openid_lg_pp {
    background: url('../img/open_id_sprite.png') no-repeat -112px 0px;
}

a#openid_lg_aol {
    background: url('../img/open_id_sprite.png') no-repeat -168px 0px;
}
a#openid_lg_verisign {
    background: url('../img/open_id_sprite.png') no-repeat -224px 0px;
}

ul.toggle_user_do {
    padding:0px 2px;
}
  ul.toggle_user_do li{
      list-style-type:disc;
      list-style-position:inside;
      color:#7d7d7d;
  }
a.user_do {
    font-size:92%;
    color:#3093C7;
    display:block;
    font-weight:bold;
    cursor:pointer;
    margin-bottom: .6em;
}

.quick_view_wrapper p {
  margin:3px 0 10px 0;
}

h2.tag_title {
  padding-right:24px;
  background: transparent url('../img/tag.png') no-repeat 98% 0px;
  padding-left:0;
}


div.request_access {
  display:none;
}
  div.request_access input[type="submit"] {
    color:white;
    font-weight:bold;
    background-color:transparent;
    border:none;
    font-size:90%;
    cursor:pointer;
    text-align:center;
    padding:0;
    margin:0;
    }
    
  div.request_access input[type="submit"]:hover {
    color:#7d7d7d;
    }
    
  div.request_access a.simplemodal-close {
    display:block;
    font-size:85%;
  }
  a.simplemodal-close:hover {
    text-decoration:underline;
  }

.gallery-li-container {
  padding: 1em;
  position: relative;
}
.special_list {}
  div.special_list {}
  .special_list h2.sub_heading,
  .scrollable_list h2.sub_heading {
    margin-top:0;
    border-bottom:3px solid #7d7d7d;
  }
  .scrollable_list h2.sub_heading {
    font-size:12px;
    padding:0;
    color:#7d7d7d;
    background-color:#ebebeb;
  }
  .special_list ul {
    margin-top:0px;
    overflow:hidden;
    border:1px solid #ccc;
    padding-bottom:10px;
  }
  
  .special_list li,
  .scrollable_list li{
    /*
    padding:10px;
    float:left;
    width:160px;
    overflow:hidden;
    */
  }
  .special_list li.last {
    border:none;
  }
  .special_list .img_wrapper,
  .scrollable_list .img_wrapper {
    display:block;
    /*
    width:160px;
    height:120px;
    */
    margin-bottom:10px;
  }

  .special_list .img_wrapper img,
  .scrollable_list .img_wrapper img {
    width:160px;
  }

  .special_list .content {
    font-size:12px;
    color:#333;
  }
  .special_list .content p {
      /*
    height:75px;
    overflow:hidden;
    */
    line-height:15px;
    margin:5px 0 1em 0 !important;
  }
  .img_wrapper {
    overflow:hidden;
    margin: 0 auto;
    min-height:80px; 
    min-width:140px;
  }
  .img_wrapper span{
    margin: 0 auto;
    }
  .img_wrapper img {
    display:block;
    margin:auto;
  }


.scrollable_list {
  position:relative;
  margin:160px 0 0 50px;
  /*width:800px;*/
  clear:both;
  overflow:hidden;
  border:5px solid #ebebeb;
  float:left;
}
.scrollable {
   position:relative;
   overflow:hidden;
   /*width:690px;*/
   height:220px;
   float:left;
}
.scrollable .items {
   width:2000em;
   position:absolute;
}
#scrollable-block-grid-container {
    border: 1px solid lightgrey;
}
#scrollable-block-grid-container ul {
    padding: 0 5%;
}
#scrollable-block-grid-container .sub_heading {
    margin: 1em;
}
.clear {
  width:100% !important;
  min-height:1px !important;
  height:auto !important;
  height:1px !important;
  clear:both !important;
  margin:0 !important;
  display:block;
  float:none !important;
}
.list_results p.list_sub_info,
p.list_sub_info {
  font-size:12px;
  color:#7d7d7d;
  overflow:hidden;
  margin:5px 0;
} 

    .list_sub_info{
        text-align:center;
    }
  .list_sub_info span {
    margin:5px 5px 5px 0;
    float:left;
    color:#7d7d7d;
  }
  .list_sub_info p.tinyprint {

    font-size:10px;
    line-height:1em;
    clear:both;
  }
  .list_sub_info span.user_default_mini,
  .list_sub_info span.resource_default_grey_mini {
    margin-right:0px;
  }
  
  .list_sub_info span a {
    margin-top:2px;
  }
  .list_sub_info span img {
    position:relative;
    top:4px;
  }

  .special_list_info span{
    clear:both;
    float:none;
    }
  .special_list_project_name{
    margin: 0 auto;
    text-align:center;
  }
.project_default_grey, .project_default, .resource_default, .resource_default_grey {
  width:80px;
  height:80px;
  display:block;
} 
.project_default {
  background:transparent url(../img/c3_sprite.png) 0 -240px no-repeat;
}
.project_default_grey {
  background:transparent url(../img/c3_sprite.png) 0 -80px no-repeat;
}
.project_default_small, .project_default_grey_small, .resource_default_small, .resource_default_grey_small{
  width:50px;
  height:50px;
  display:block;  
}

.project_default_small {
  background:transparent url(../img/c3_sprite.png) -130px -50px no-repeat;
}
.project_default_grey_small {
  background:transparent url(../img/c3_sprite.png) -130px 0px no-repeat;
}

.resource_default_small {
  background:transparent url(../img/c3_sprite.png) -80px -50px no-repeat;
}

.resource_default_grey_small {
  background:transparent url(../img/c3_sprite.png) -8px 0px no-repeat;
}
.resource_default {
  background:transparent url(../img/c3_sprite.png) 0 -160px no-repeat;
}
.resource_default_grey {
  background:transparent url(../img/c3_sprite.png) 0 0 no-repeat;
}

.email_sprite {
  width:25px;
  background:transparent url(../img/c3_sprite.png) -182px -52px no-repeat;
  display:inline-block;
  vertical-align:middle;
  margin-left:5px;
  height:25px;
}
.profile_img_sprite {
  width:150px;
  height:150px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -85px -169px no-repeat;
}
.user_default {
  width:80px;
  height:80px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -81px -320px no-repeat;
}
.user_default_med {
  width:50px;
  height:50px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -80px -100px no-repeat;
}
.user_default_mini {
  width:18px;
  height:18px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -104px -150px no-repeat;
}
.resource_default_grey_mini {
  width:18px;
  height:18px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -174px -148px no-repeat;
}

.lock, .lock_grey {
  width:16px;
  height:16px;
  display:inline-block;
  position:relative;
  vertical-align:middle;
}
.lock {
  background:transparent url(../img/c3_sprite.png) -214px -126px no-repeat;
  left:2px;
}
.lock_grey {
  background:transparent url(../img/c3_sprite.png) -214px -144px no-repeat;
  left:5px;
  .left:2px;
}

.ex_link,.ex_link_grey{
  width:16px;
  height:12px;
  display:inline-block;
  position:relative;
}
.ex_link {
  background:transparent url(../img/c3_sprite.png) -211px -91px no-repeat;
  /*
  top:2px;
  .top:-2px;
  */
}
.ex_link_grey {
  background:transparent url(../img/c3_sprite.png) -211px -104px no-repeat;
  /*
  top:3px;
  .top:0;
  */
}
span.delete {
  width:15px;
  height:15px;
  display:block;
  background:transparent url(../img/c3_sprite.png) -226px -89px no-repeat;
}
a.browse {
  width:16px;
  cursor:pointer;
  display:block;
  text-indent:-9999px;
}
a.browse.right {
  background:transparent url(../img/next.png) no-repeat;
  margin:100px 10px 0 15px;
}
a.browse.left {
  background:transparent url(../img/previous.png) no-repeat;
  margin:100px 15px 0 10px;
}
.list_for_you {
 overflow:hidden;
 background-color:#f8f8f8;
 border:1px solid #EBEBEB;
 padding-bottom:10px;
 }

span.orange_recommend {
  display:inline-block;
  width:25px;
  height:25px;
  background:transparent url(../img/c3_sprite.png) no-repeat 0 -320px;
  vertical-align:middle;
}

span.most_active {
  display:inline-block;
  width:27px;
  height:25px;
  background:transparent url(../img/c3_sprite.png) no-repeat 0 -346px;
  vertical-align:middle; 
}

span.star {
  background:transparent url(../img/c3_sprite.png) no-repeat -2px -370px;
  display:inline-block;
  width:25px;
  height:27px;
  vertical-align:middle;
}

span.recommend {
  background:transparent url(../img/check_stroke.png) no-repeat left 0px;
  padding-left:14px;
  line-height:12px;
}

span.member {
  background:transparent url(../img/member_small.png) no-repeat left 0px;
  padding-left:12px;
  line-height:12px;
}

span.new {
  background:transparent url(../img/c3_sprite.png) no-repeat 0 -400px;
  height:30px;
  width:30px;
  display:block;
}

ul li span.new {
  top:3px;
  left:-2px;
  position:absolute;
  z-index:999;
}
div.back_to {
  border-bottom:1px solid #ebebeb;
}
  div.back_to a {
    color:#7d7d7d;
  }
  ul.bottombordernav + div.back_to {
    margin-top:5px;
  }
div.private {
  color:#ccc;
}

div.profile_detail dl.horizontal {
  margin: 10px 0px 20px;
}

dl.horizontal {
  overflow:hidden;
}

 dl.horizontal dd {
   margin-right:5px;
   float:left;
 }

span.new_barcode {
  font-weight:bold;
  color:white;
  font-size:10px;
  padding:2px;
  background-color:#f7941d;
}

.list_results ul.project_list .list_content a.project,
.list_results ul.resource_list .list_content a.dataset {
}

.gallery {
}
    .gallery .img_wrapper {
        width:80px;
        height:80px;
        overflow:hidden;
        display:block;
        -moz-box-shadow:2px 2px 2px #ccc;
    }
    .gallery img {
        min-width:80px;
        min-height:80px;
    }

    .gallery li {
        padding:10px;
        position:relative;
        overflow:hidden;
        /*width:110px;*/
        float:left;
        margin-bottom:20px;
    }

/*
 * TODO delete
div.profile_img {
  width:250px;
  float:left;
  position:relative;
  margin-top:10px;
}
*/

.show_this_on_map {
  display:inline-block;
  .float:left;
  background:transparent url('../img/show_it_on_map.png') no-repeat;
  text-indent:-9999px;
  width:20px;
  height:20px;
  }
span.beta {
  font-size:10px;
  color:#930C37;
}

a.grey_button {
  margin:5px 0;
  display:inline-block;
  border-color:#CCCCCC #999999 #999999 #CCCCCC;
  border-width:1px;
  border-style:solid;
  color:#252525;
  padding:8px 10px 8px 7px;
  background-color:#eee;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  text-shadow:0 1px 1px #fff;
  width: 100%;
}
  a.grey_button:hover {
    border-color:#999999 #CCCCCC #CCCCCC #999999;
    color:#7d7d7d;
  }

  a.grey_button.new_res {
    background:#eee url('../img/new_res.png') 100% 30% no-repeat;
  }
  a.grey_button.new_att {
    background:#eee url('../img/paperclip_2.png') 100% 50% no-repeat;
  }
  a.grey_button.new_member {
    background:#eee url('../img/new_member_2.png') 100% 50% no-repeat;
  }
  a.grey_button.new_proj {
    background:#eee url('../img/plus_32.png') 95% 45% no-repeat;
  }  
  a.grey_button.edit_proj {
    background:#eee url('../img/edit_pencil2.png') 100% 75% no-repeat;
  }
  
div.edit a.grey_button {
    line-height: 25px;
}
  
div.bucket a.grey_button {
  width:100%;
  margin-left:0;
}
div.back_to {
  clear:both;
  border-bottom:1px solid #ebebeb;
  text-align:right;
}

a.add_new {
  display:inline-block;
  color:#006699;
  font-weight:bold;
  float:right;
  font-size:13px;
  margin-right:5px;
}
 a.add_new:hover {
   color:#3093c7;
 }

.co_author_lbl {
  background-color:#F6B803;
  color:white;
  font-family:Verdana,sans-serif;
  font-size:9px;
  padding:0px 2px;
  
}
div.m_list .sub_heading {
    margin-top:0;
}
div.m_list ul li {
    margin:10px 0 !important;
}

.moderation_message {
    background: yellow;
    padding: 10px 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.legend {
    margin-top: 1em;
    margin-bottom: 2em;
}


#q {
    padding-top:0px;
    padding-bottom:0px;
}

.big_title, .page_title {
    color:#333;
    font-size:24px;
    font-weight:bold;
    line-height: 1.3em;
    margin:20px 0;
}

.more-long{
    display:none;
}

.markdown_guide_content{
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
}

.markdown_guide_content p, .markdown_guide_content h1, .markdown_guide_content h2, .markdown_guide_content pre{
    margin:0 15px;
}

.area_list{
    text-align:right;
    color:#333;
    margin:0px;
    background-color:#F2F2F2;
}

.area_item{
    border: solid 1px #d4d4d4;
    font-size:1em;

}

.area_title {
    padding:5px 5px 7px;
    line-height:1.2;
}

.area_title.active, .sa_list li.active{
    background-color: #069;
    padding:8px 5px;
}

.area_title a, .sa_list a{
    color: #222;
    line-height:1.2;
}

.area_title:hover, .sub_area:hover{
    background-color:#dbdbdb;
}

.area_title.active a, .sa_list .sub_area.active a{
    color: #fff;
    font-size:1em;
    font-weight:bold;
}

.sa_list {
    margin-top:0px;
    margin-left:0px;
}

.sa_list li.active{
    padding-right:10px;
}

.sub_area {
    font-size:11px;
    padding:5px;
}

.sa_list li{
    border-top: dashed 1px #BBB;
    padding: 2px 10px 2px 0px;
    color:#7d7d7d;
}

ul.area_list li.area_item{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.extension_button{
    display:inline-block; 
    margin-bottom:10px;
    font-size:12px;
    width:100%;
    padding:5px 0px;
    text-align:center;
}

.resource_list_special_icon{
    display:inline-block; 
    vertical-align:middle; 
    margin-left:10px;
    height:25;
    width:25;
}


