.formheader {
    /* form header text for oauth registration form */
    line-height:2.2em;
    font-size:small;
    padding-bottom: 5px;
}

input,textarea,select {
    border:2px solid #ccc;
}

input.submit,input.button {
color:#252525;
}

div.form-container form legend {
font-weight:700;
color:#666;
}

div.form-container span.label {
margin-right:10px;
padding-right:10px;
display:block;
float:left;
text-align:right;
position:relative;
color:#7D7D7D;
/*
font-size:12px;
*/
}

div.form-container label {
    margin-right:10px;
    padding-right:10px;
    display:block;
    /*float:left;*/
    text-align:left;
    position:relative;
    color:#7D7D7D;
}

div.form-container label .tip {
    color:#7D7D7D;
    font-size:0.8em;
    float:left;
}


div.form-container form div {
overflow:hidden;
padding:0.35em 0;
}

div.form-container form fieldset,div.form-container div.fieldset {
border:#DDD 1px solid;
width:auto;
margin:0 0 10px;
padding:10px;
}

div.form-container form select {
  /*
position:relative;
top:-2px;
width:340px;
*/
}

fieldset.legal,div.form_message {
background-color:#f8f8f8;
-moz-border-radius:2px;
-webkit-border-radius:2px;
color:#7d7d7d;
padding:10px;
}

div.form_message p {
margin:10px 0 !important;
}

.error {
color:#C00 !important;
}

div.form-container label em,div.form-container span.label em {
color:#6dcff6;
}

div.form-container input.error {
background-color:#feeae1;
border-color:#C00;
}

div.form-container input:focus,div.form-container input.error:focus,div.form-container textarea:focus {
background-color:#f8f8f8;
border-color:#00aeef;
}

div.form-container div.controlset label,div.form-container div.controlset input {
display:inline;
float:none;
}

div.form-container div.controlset div {
margin-left:170px;
}

div.buttonrow input {
margin-right:0;
margin-bottom: 0;
}

table.ra_checkboxes label {
/*width:100px;*/
text-align:left;
}

input.cb,span.cb_form input {
width:13px;
height:13px;
vertical-align:bottom;
position:relative;
top:-2px;
overflow:hidden;
margin:0 5px 0 0;
padding:0;
}

div.form-container ul li {
float:left;
clear:both;
margin-top:5px;
}

form.notification label {
width:95%;
text-align:left;
float:left;
margin:0;
padding:0;
}

div.form-container .formlabel_thin {
float:left;
margin-top:-8px;
margin-right:10px;
text-align:right;
height:10px;
color:#666;
font-size:10px;
font-weight:400;
}

div.form-container .formtable table {
border:2px solid #666;
border-collapse:collapse;
margin:15px 0 0 10px;
}

div.form-container .formtable th {
border:1px solid #000;
background-color:#DDD;
font-size:10px;
font-weight:700;
text-align:center;
vertical-align:middle;
padding:3px;
}

div.form-container .formtable td {
border:1px solid #000;
padding:3px;
}

div.form-container div.tooltip {
padding-left: 140px;
font-size: 10px;
color: #999999;
}
div.form-container div.tooltip p {
margin-top: -5px;
}

div.privacy form input {
position:relative;
top:1px;
margin-right:10px;
}

div.privacy form input.privacy {
margin:10px 0;
}

input.privacy {
background-color:#dde6ef;
border:1px solid #b7b7b7;
text-align:center;
float:left;
cursor:pointer;
font-family:inherit;
margin:10px 0;
padding:2px 15px;
}


form.invite input.submit {
    margin: 0;
    padding: 3px 2px 2px;
    border-wdith:1px;
    -webkit-appearance: none;
}
/*
form input {
margin-right:5px;
}

form.invite {
padding-bottom:15px;
float:left;
position:relative;
}

form.invite select {
width:200px;
size:5px;
margin-bottom:5px;
}

.sub_filter form.invite {
    margin-bottom: 0;
    padding:0;
}

.sub_filter form.invite input[type="text"] {
    margin:0;
}

.sub_filter form.invite input.submit {
    margin:0;
    padding:0;
}
*/

/*div.form-container fieldset.no_border {
border:none;
}*/

form.label {
margin-top:10px;
}

form.label h1 {
font-size:14px;
float:left;
clear:both;
color:#4EBAFF;
font-weight:700;
}

form.label div {
float:left;
clear:both;
margin-bottom:3px;
}

form.label div.input {
margin-top:5px;
}

form.label fieldset {
margin-bottom:10px;
}

form.invite label {
color:#7d7d7d;
font-weight:700;
}

form p.help_text {
text-align:right;
float:right;
color:#ccc;
font-size:11px;
margin:0 30px 0 140px;
}

a.markdown {
float:right;
font-weight:700;
font-size:12px;
/*margin-right:30px;*/
clear:both;
}

a.markdown:hover {
text-decoration:underline;
}

fieldset.metadata label {
font-size:90%;
}

textarea {
/*width:340px;*/
height:200px;
font-size:14px;
}

textarea.multiple_emails {
/*width:340px;*/
height:50px;
}

input#id_programming_language {
position:relative;
top:3px;
}

/*
div.ra_list {
float:left;
position:relative;
.clear:left;
}

div.ra_list label {
width:200px;
}
*/

.large_textarea textarea {
height:200px;
}

fieldset.legal {
font-size:10px;
}

div.form_invite_container {
margin-top:20px;
overflow:hidden;
}

form.subscription,form.subscription_off {
overflow:hidden;
}

form.subscription input {
color:#333;
}

form.subscription input.submit,form.subscription_off input.submit {
float:right;
margin-top:20px;
}

form.subscription h1,form.subscription_off h1 {
margin-top:20px;
margin-bottom:-15px;
}

form.subscription td.tinyprint,form.subscription td.tinyprint a {
text-align:center;
color:#7d7d7d;
}

form.subscription table td.title,form.subscription_off table td.title {
/*width:320px;*/
}

form.subscription td.tinyprint a:hover {
color:red;
}

textarea#id_repository {
height:100px;
/*width:500px;*/
}

div.form-container div.form_label label,form.text_left label {
text-align:left;
}

div.form-container div.form_label label input,form fieldset.radio input,form input.checkbox {
    /*
position:relative;
top:2px;
*/
}
form fieldset.radio input {
    margin: 0 .5em;
}

div.buttonrow {
/*text-align:right;*/
}

div.form_invite_container p.help_text {
text-align:right;
}

table.ra_checkboxes,div.form-container .formtable label,div.privacy form label {
width:auto;
}

form.invite h2.leader,div.form_invite_container p {
margin:0;
}

form.invite input,div.ra_list input {
float:left;
}
div.ra_list input {
margin: .2em .5em;
}

.subscription_off,.subscription_off td,.subscription_off h2.sub_heading,.subscription_off h1,.subscription_off a.project,.subscription_off a.dataset,.subscription_off a,.subscription_off input {
color:#c2c2c2;
}

form div h1,
form div h2 {
  margin:0;
}

.captcha{
    margin-bottom: .25em;
    border:2px solid #CCC;
}

td.form form input#id_name {
    float: left;
    width: 70%;
    margin-right: .5em;
    margin-bottom: 0px;
}
td.form form input.submit.smaller {
    float: left;
    width: 5em;
    padding: 3px;
    -webkit-appearance: none;
}

input#id_files, input#id_image {
    padding: 2px;
}

/*
#id_captcha_1{

    margin-top:2px;
    margin-left:140px;
    padding: 0px;
    float:left;
}
*/

.ra_label{
    margin-left:22px;
    text-align:left;
    text-indent: -27px;
    padding-left: 25px;
    margin-bottom:3px;
}



.ra_label_span{
    margin-left: 10px;
}

.ra_label input{
    margin-bottom: 0px;
}

.ra_label .custom.checkbox.checked:before {
    padding-left: 27px;
}

.area_label{
    margin-bottom:8px;
    font-weight:bold;
}

.ra_section_title {
    font-weight:bold;
    text-align:center;
    margin-bottom:8px;
}


