#main_area_wrapper {
  margin:-10px -15px 15px -15px; 
}

#main_area {
    position:relative;
    background:white url('../img/mainimg3_2.jpg') no-repeat 0 0;
    height:315px;
    z-index:0;
}

div.tag_line {
  position:absolute;
  top:30px;
  left:425px;
  text-shadow:0px 1px 2px #ccc;
  margin-right:30px;
  line-height:1.4em;
  .width:570px;
}
  div.tag_line h1 {
    font-weight:normal;
    font-size:26px;
  }

a.main_learnmore {
    color:#f26522;
    text-transform:uppercase;
    font-weight:normal;
    text-shadow:1px 1px 1px #ccc;
}
  a.main_learnmore:hover {
    color:#3093C7;
  }

.explore {   
    position:absolute;
    top:180px;
    left:400px;
    overflow:hidden;
    border-top:1px hidden #dedede;
    padding-top:10px;
}   
    .explore h3 {
      height:18px; 
    }
    .explore h3 a {
        color:#F26522;
        }
    .explore h3 a:hover {
        color:#3093C7;
    }
    .explore ul {
      margin:0;
    }
    .explore ul li {
        float:left;
        width:160px;
        margin:0 10px;
    }
    .explore ul li:first-child {
      margin-left:0;
    }
    .explore li p {
        font-size:12px;
        line-height:16px;
        }

.news {
    overflow:hidden;
    margin-bottom:20px;
    color:#333;
}
    .news h1 {
        font-family:"Times New Roman", Times, serif;
        border-bottom:1px solid #dedede;    
        color:#333;
    }
    
    .news span.highlight {
        font-size:110%;
        font-weight:bold;
    }
    .news a {
        color:#3093C7;
        font-weight:bold;
    }

.featured {
    padding:10px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   margin:0 5px;
   min-height:350px;
   width:95%;
}
    .featured .img_wrapper {
        width:213px;
        height:120px;
        background-color:white;
        -moz-box-shadow:1px 1px 2px #7d7d7d;
        margin: 0 auto;
    }
    
    .featured img {
        width:213px;
    }

    .featured .img_wrapper span {
      margin:15px auto auto;
    }
    .featured ul {
        margin:0 auto 20px auto;
        overflow:hidden;
    }
    .featured li {
        overflow:hidden;
        width:215px;
        float:left;
        margin-right:10px;
    }

    .featured .content {
        padding:10px 5px;
        text-align:center;
    }
    .featured p {
        margin:5px 0 0;
        font-size:11px;
        line-height:15px;
        text-shadow:0 1px 1px #fff;
    }
    .featured a.project, .featured a.dataset {
      font-size:16px;
      text-shadow:0 1px 1px #fff;
      display:block;
      margin:5px 0 10px 0;
    }
    .featured h1 {
        font-size:22px;
        font-weight:normal;
        border-bottom:1px solid #ccc;
        text-shadow:1px 1px 1px white;
    }

.sistersite {
  margin-top:30px;
}

    .sistersite img {
        width:100px;
        margin-left:auto;
        margin-right:auto;
        display:block;
        margin-bottom:10px;
    }

a.see_all {
font-size:16px;
color:#333;
text-decoration:underline;
background:transparent url(../img/dash_sprite.png) no-repeat 0 -510px;
padding-left:16px;
}


#home #content {
  margin:10px -15px 0 -15px;
  padding-left:15px;
  background-color:#EEE9E5;
  float:left;
  padding-top:15px;
}
#home #content_wrapper {
  padding-bottom:0;
  background-color:white;
}

#home #right_column div.sistersite .rc_innerwrapper {
  background-color:white;
  border:1px solid #dedede;
  border-top:4px solid #dedede;
}
#home .heading {
  margin-bottom:10px;
}
