table {
border-collapse:collapse;
width:100%;
}

table.singlelist {
    margin-bottom: 0;
    border: 0;
}
.table .singlelist th {
text-align:left;
font-weight:400;
}

.table .singlelist td,.table .singlelist th,table.singlelist td {
padding:5px;
}

table.singlelist dd.smaller, table.singlelist dt {
    margin-bottom: 0px;
}
table.singlelist dl {
    line-height: 1.5em;
    margin-bottom: 0px;
}

td.tinyprint {
width:60px;
}

td.smaller {
font-size:92%;
}

td.dl {
/*width:100px;*/
height:16px;
font-size:80%;
color:#7d7d7d;
text-align:right;
}

img.listimg {
    margin: 2px 4px 0 0;
}

td.access {
height:16px;
/*width:150px;*/
}
/*
.row1 {
  border-bottom:1px solid white;
}
.table .singlelist .row1 td {
background-color:#f4f4f4;
vertical-align:middle;
}
*/

table.tr_border tr {
border-bottom:1px solid #ebebeb;
}

table.tr_border tr.label_heading,tr.label_heading {
background-color:#dedede;
border-bottom:1px solid #B7B7B7;
}

table#id_files_existing_table,table#id_files_table {
border:0;
border-collapse:collapse;
font-size:12px;
width:auto;
margin-top:0;
}

table#id_files_existing_table td,table#id_files_table td {
border:1px solid #FFF;
background-color:#f4f4f4;
}

table#id_files_existing_table th,table#id_files_table th {
font-size:12px;
font-weight:700;
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
color:#7d7d7d;
text-align:left;
background-color:#FFF;
border:1px solid #f4f4f4;
}

table#id_files_existing_table ul,table#id_files_table ul {
list-style-type:none;
margin:0;
padding:0;
}

table#id_files_existing_table ul li,table#id_files_table ul li {
margin-top:0;
height:2em;
max-width:220px;
}

.checkbox_multi button {
background:transparent url(../img/cancel.png) no-repeat scroll top left;
width:19px;
height:19px;
position:relative;
left:5px;
border-style:none;
}

th.remove_checkbox {
width:50px;
}

td.textbox_multi {
width:auto;
}

td.checkbox,td.checkbox_multi {
text-align:center;
}

td.checkbox_multi li,td.checkbox li {
    width:30px;
}
td.checkbox li{
    padding-top:9px;
    margin:10px 0px 8px 15px;

}

td.checkbox_multi li{
    padding-top:1px;
    padding-right:10px;
}

td.textbox li, td.textbox_multi li{
    width:130px;
    margin:8px 10px;
}

.anchor,.anchor_multi {
width:100%;
}

.anchor li,.anchor_multi li {
    margin:8px 10px;
white-space:nowrap;
line-height:2em;
overflow:hidden;
/*width:220px;*/
}

table.attachment tr,table.attachment td {
border-bottom:1px dotted #ebebeb;
padding:0;
}

table.attachment td,table.attachment th {
padding:0;
}
table.attachment dl {
  margin:3px 0 !important;
}
table.attachment dl dd,table.attachment dl dt {
line-height:1.2em;
}

table.attachment dl dd {
font-size:12px;
}

.table .attachment td,.table .attachment th,table.attachment td {
padding:1px;
}

div.freq {
width:20px !important;
}


.checkbox ul li label{
    margin:0px;
    padding:0px;
}
