h1 {
	  font-size:24px;
    font-weight:bold;
    color:#333;
    margin:20px 0;
    line-height:1.3em;
    }

h1.ra_title {
	  margin:0 0 15px 0;
    font-family: "Lucida Grande", Geneva, Arial, sans-serif;
	}
	

h1.profilename {
	}
	
	h1.profilename a.magenta:hover {
		color:#c8738c;
	}

h1.browse {
	color:#005e82;
	border-bottom:2px solid #005e82;
	padding-bottom:2px;
	}
    
h2 {
	  font-size:20px;
    font-weight:bold;
    color:#333;
    margin:10px 0;
    }
    h2.title {
       clear:both;
       border-bottom:1px solid #b7b7b7; 
    }
    
	h2.sub_heading {
		border-bottom:1px solid #ebebeb;
		clear:both;
    margin:30px 0 0 0;
    padding-bottom:2px;
    font-size:16px;
	}
    
	h2.list_title {
		color:#7d7d7d;
		font-size:140%;
		line-height:1.2em;
	}
    
h3 {
    font-size:16px;
    margin:10px 0;
    font-weight:bold;
    }
	h3.ra {
		font-size:110%;
	}

	h3.resource_title {
		color:#A01C42;
	}
	
	h3.sub_title {
		color:#3093c7;
    line-height:24px;
    margin:0px;
	}

.greetings {
	color:#b7b7b7;
	font-style:italic;
	font-family:Georgia,"Times New Roman", Times, serif;
	line-height:1.5em;
}

  a.greetings:hover {
      text-decoration:underline;
  }
a.ee {
	color:#7eb138;
	font-weight:bold;
}

a.ee:hover {
	color:#a2e34a;
}

a.project:hover {
	color:#8ca9c2;
}
a.dataset:hover {
	color:#91bad3;
}

a.magenta:hover {
	color:#C8738C;
}

a.files {
    color:#3093C7;
}
    a.files:hover {
        border-bottom:1px dotted #3093c7;
        text-decoration:none;
    }

a.underline:hover {
    text-decoration:underline;
}

a.attachment {
    display:block;
    color:#7495b1;
    font-weight:bold;
    font-size:12px;
}

a.manage_labels {
    font-weight:bold;
    color:#3093C7;
    text-decoration:underline;
    margin-top:-5px;
    display:block;
}
  a.manage_labels:hover {
      color:#91BAD3;
  }

a.file {
    color:#0072bc;
    font-weight:normal;
}
  a.file:hover {
      color:#538aae;
  }

 a.highlight,
 a.dark_highlight {
     font-size:13px;
     font-weight:bold;
     display:block;
     margin:5px 0;
 }
   a.dark_highlight {
       color:#7d7d7d;
   }
   a.highlight {
      color:#4EBAFF; 
   }
   a.highlight:hover {
       color:#91BAD3;
   }
  a.dark_highlight:hover {
      color:#b0b0b2;
  }

a.inline {
    display: inline;
}

strong {
  font-weight:bold;
}
